function Ball.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push constant 4
pop this 2
push constant 2
pop this 3
push argument 0
call Platform.getY 1
push this 3
push constant 10
add
sub
pop this 1
push argument 0
call Platform.getX 1
pop this 0
push constant 1
pop this 4
push constant 1
neg
pop this 5
push constant 1
pop this 6
push argument 0
pop this 7
push pointer 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.collision 1
pop temp 0
push this 0
push this 4
add
pop this 0
push this 1
push this 5
add
pop this 1
push constant 0
return
function Ball.drawBall 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.collision 5
push argument 0
pop pointer 0
push this 0
push constant 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop this 0
push this 4
neg
pop this 4
label IF_FALSE0
push this 0
push this 2
add
push constant 510
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 510
push this 2
sub
pop this 0
push this 4
neg
pop this 4
label IF_FALSE1
push this 1
push constant 1
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
pop this 1
push this 5
neg
pop this 5
label IF_FALSE2
push this 1
push this 3
add
push constant 220
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
call Main.setBallLost 0
pop temp 0
label IF_FALSE3
push pointer 0
push this 7
call Ball.checkCollisionWithPlatform 2
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 7
call Platform.getX 1
push this 7
call Platform.getWidth 1
push constant 2
call Math.divide 2
sub
pop local 0
push this 7
call Platform.getX 1
push this 7
call Platform.getWidth 1
push constant 2
call Math.divide 2
add
pop local 1
push this 7
call Platform.getWidth 1
push constant 3
call Math.divide 2
pop local 2
push this 0
pop local 3
push this 0
push this 2
add
pop local 4
push local 4
push local 0
push local 2
add
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 1
neg
pop this 4
goto IF_END5
label IF_FALSE5
push local 3
push local 1
push local 2
sub
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 1
pop this 4
goto IF_END6
label IF_FALSE6
push constant 1
pop this 4
label IF_END6
label IF_END5
push this 5
neg
pop this 5
push this 7
call Platform.getY 1
push this 3
push constant 1
add
sub
pop this 1
label IF_FALSE4
push constant 0
return
function Ball.checkCollisionWithPlatform 8
push argument 0
pop pointer 0
push argument 1
call Platform.getY 1
pop local 0
push local 0
push argument 1
call Platform.getHeight 1
add
pop local 1
push argument 1
call Platform.getX 1
push argument 1
call Platform.getWidth 1
push constant 2
call Math.divide 2
sub
pop local 2
push argument 1
call Platform.getX 1
push argument 1
call Platform.getWidth 1
push constant 2
call Math.divide 2
add
pop local 3
push this 1
pop local 4
push this 1
push this 3
add
pop local 5
push this 0
pop local 6
push this 0
push this 2
add
pop local 7
push local 5
push local 0
lt
not
push local 4
push local 1
gt
not
and
push local 7
push local 2
lt
not
and
push local 6
push local 3
gt
not
and
return
function Ball.checkCollisionWithBrick 12
push argument 0
pop pointer 0
push argument 1
call Brick.getY 1
pop local 0
push local 0
push argument 1
call Brick.getHeight 1
add
pop local 1
push argument 1
call Brick.getX 1
pop local 2
push local 2
push argument 1
call Brick.getWidth 1
add
pop local 3
push this 1
pop local 4
push this 1
push this 3
add
pop local 5
push this 0
pop local 6
push this 0
push this 2
add
pop local 7
push local 5
push local 0
gt
push local 4
push local 1
lt
and
push local 7
push local 2
gt
and
push local 6
push local 3
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 7
push local 2
sub
pop local 10
push local 3
push local 6
sub
pop local 11
push local 10
push local 11
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 10
pop local 8
goto IF_END1
label IF_FALSE1
push local 11
pop local 8
label IF_END1
push local 5
push local 0
sub
pop local 10
push local 1
push local 4
sub
pop local 11
push local 10
push local 11
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 10
pop local 9
goto IF_END2
label IF_FALSE2
push local 11
pop local 9
label IF_END2
push local 8
push local 9
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 4
neg
pop this 4
goto IF_END3
label IF_FALSE3
push this 5
neg
pop this 5
label IF_END3
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Ball.getX 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getY 0
push argument 0
pop pointer 0
push this 1
return
function Ball.getH 0
push argument 0
pop pointer 0
push this 3
return
function Ball.getW 0
push argument 0
pop pointer 0
push this 2
return
function Ball.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Ball.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
