function Brick.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 40
pop this 2
push constant 20
pop this 3
push constant 0
not
pop this 4
push pointer 0
return
function Brick.drawBrick 0
push argument 0
pop pointer 0
push this 4
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 2
add
push this 0
push constant 2
sub
push this 2
add
push this 1
push constant 2
sub
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Brick.deactivate 0
push argument 0
pop pointer 0
push constant 0
pop this 4
push constant 0
return
function Brick.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Brick.isActive 0
push argument 0
pop pointer 0
push this 4
return
function Brick.getX 0
push argument 0
pop pointer 0
push this 0
return
function Brick.getHeight 0
push argument 0
pop pointer 0
push this 3
return
function Brick.getY 0
push argument 0
pop pointer 0
push this 1
return
function Brick.getWidth 0
push argument 0
pop pointer 0
push this 2
return
